<template>
    <article :class="['card__item', `card__item--${state.toLowerCase()}`]" :style="`--fade-delay: ${index * 0.125}s`">
        <Icon :name="icon" width="65px" height="65px"/>
        <p class="card__body">{{ bodyText }}</p>
        <footer class="card__footer">
            <slot name="footer">
                <span class="card__footer--state">{{footerText}}</span>
            </slot>
        </footer>
    </article>
</template>

<script>
import Icon from '@/components/Icon.vue';

export default {
    props: {
        bodyText: {
            type: String,
            default: 'Ask a question',
        },
        footerText: {
            type: String,
            default: '',
        },
        state: {
            type: String,
            required: true,
        },

        icon: {
            type: String,
            required: true,            
        },

        index: {
            type: Number,
            default: 0,
        }
    },

    components: {Icon},

    data: () => ({
    }),
    
};
</script>

<style lang="scss" scoped>
.card {
    &__item {
        display: flex;
        flex-direction: column;
        padding: 1.875rem;
        padding-top: 2.5rem;
        padding-left: calc(
            2px + 1.875rem
        ); // to conteract the 3px yellow border
        border-radius: 6px;
        border: 1px solid var(--color-gray-light);
        box-sizing: border-box;
        transition: all 300ms;
        cursor: pointer;
        box-shadow: 15px 15px 44px rgba(61, 70, 65, 0.15);
        opacity: 0;
        animation-name: fadein;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: var(--fade-delay);

        &:hover {
            box-shadow: 15px 15px 44px rgba(61, 70, 65, 0.25);
            transform: scale(1.01);
        }
        &--locked {
            color: var(--color-light);
            background-color: var(--color-dark);
            cursor: default;

            & .card__footer--state {
                margin-right: 1rem;
                color: var(--color-light);
                font-size: 20px;
                font-weight: 600;
                flex-grow: 0;
            }
        }
        &--ask {
            color: var(--color-text-dark);
            background-color: var(--color-white);
        }
        &--answer {
            color: var(--color-text-dark);
            background-color: var(--color-white);
        }
        &--asked {
            color: var(--color-text-dark);
            background-color: var(--color-inactive);
        }
        &--answered {
            color: var(--color-text-dark);
            background-color: var(--color-inactive);
        }

        &--asked,
        &--answered {
            box-shadow: none;
        }

        &--ask,
        &--answer {
            border-left: 3px solid var(--color-primary);
            padding-left: 1.875rem;
        }
    }

    &__body {
        margin: 0;
        padding-top: 3.375rem;
        padding-bottom: 1.375rem;
        min-height: 138px;
        font-size: 26px;
        flex-grow: 1;
    }

    &__footer {
        display: flex;
        justify-content: end;
    }

    &__footer--state {
        margin-right: 1rem;
        color: var(--color-inactive-text);
        font-size: 16px;
        font-weight: 400;
        flex-grow: 1;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
</style>