<template>
    <div class="dashboard__container">
        <h2>Hi Michael Hansen</h2>
        <TaskList :tasks="tasks" />
    </div>
</template>

<script>
import TaskList from '@/components/TaskList.vue'

export default {
    components: { TaskList },
    props: {
        tasks: {
            type: Array,
            required: true,
        }
    }    
};
</script>

<style lang="scss" scoped>
.dashboard__container {
    display: flex;
    flex-direction: column;
    padding: 7.75rem;

    @media (max-width: 990px) {
        padding: 7.75rem 0;
    }
}
</style>