<template>
    <div
        class="dropdown__container"
        v-click-outside="hideMenu"
    >
        <button class="dropdown__button" @click="open = true">
            {{ `${activeItem} Tasks` }}
            <Icon
                :name="icons.caret"
                width="15px"
                height="15px"
                :rotation="open ? 180 : 0"
                color="dark"
            />
        </button>

        <ul class="dropdown__list">
            <li
                v-for="(item, idx) in items"
                @mousedown="onItemClick(item.label)"
                :key="idx"
                :class="[
                    'dropdown__item',
                    activeItem === item.label && 'dropdown__item--active',
                ]"
            >
               {{`${item.label} (${item.value})`}}
            </li>
        </ul>
    </div>
</template>

<script>
import Vue from 'vue';
import Icon, { IconsEnum } from '@/components/Icon.vue';

Vue.directive('click-outside', {
    bind: function (el, binding) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
            return;
        }

        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble;
        const handler = (e) => {
            if (bubble || (!el.contains(e.target) && el !== e.target)) {
                binding.value(e);
            }

        };
        el.__vueClickOutside__ = handler;

        // add Event Listeners
        document.addEventListener('click', handler);
    },

    unbind: function (el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__);
        el.__vueClickOutside__ = null;
    },
});

export default {
    components: { Icon },

    props: {
        items: {
            type: Array,
            default: ['All'],
        },

        filterCounters: {
            type: Object,
            default: {},
        },
    },

    data: () => ({
        open: false,
        activeItem: null,
    }),

    methods: {
        onItemClick(item) {
            if (this.activeItem === item) return;
            this.activeItem = item;
            this.$emit('changed', item);

            this.open = false;
        },

        hideMenu() {
            this.open = false;
        },
    },

    created() {
        this.icons = IconsEnum;
        this.activeItem = this.items[0].label ?? 'All';
    },
};
</script>

<style lang="scss" scoped>
.dropdown {
    &__container {
        display: inline-block;
        outline: none;
        position: relative;
        z-index: 9998;

        &:focus-within .dropdown__list {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    &__button {
        background: transparent;
        border: none;
        cursor: pointer;
        min-width: 9rem;
        text-align: left;
        font-weight: 600;
        display: flex;

        .q__icon {
            padding: 0 0.25rem;
        }
    }

    &__list {
        display: inline-block;
        position: absolute;
        list-style: none;
        margin: 0;
        padding: 0.8125rem 1.25rem;
        margin-top: 10px;
        width: max-content;
        background: #ffffff;
        border: 1px solid #eeeeee;
        box-shadow: 2px 2px 4px rgba(42, 45, 43, 0.1);
        border-radius: 4px;

        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 300ms, transform 300ms;
    }

    &__item {
        cursor: pointer;
        color: var(--color-dark);
        font-weight: 600;
        padding: 7px;

        &:hover {
            opacity: 0.6;
        }

        &--active {
            opacity: 1;
            color: var(--color-primary);
        }
    }
}
</style>