<template>
    <header class="app__header">
        <img alt="QVEST" :src="Logo"/>
        <h1 class="app__title">Workplace culture in CRAFT</h1>
        <span>Closes in 2 days</span>
    </header>
</template>

<script>
import Logo from '@/assets/images/qvest-logo.svg'

export default {
    data: () => ({
        Logo,
    })
};
</script>

<style lang="scss" scoped>
.app {
    &__header {
        display: grid;
        grid-template-columns: auto 1fr auto;
        position: fixed;
        width: 100%;
        margin: -1.5rem;
        padding: 1.5rem;
        box-sizing: border-box;
        background-color: var(--color-white);
        z-index: 9999;
        align-items: center;
    }

    &__title {
        text-align: center;
        font-size: 1.125rem;
        font-weight: 600;
    }
}
</style>
