<template>
    <i :class="color ? 'q__icon q__icon--colorized' : 'q__icon'" 
        :style="`
            --icon-path: url('${this.icon}');
            --icon-width: ${this.width};
            --icon-height: ${this.height};
            --icon-color: ${this.color};
            --icon-rotate: ${this.rotation}deg;
        `"></i>
</template>

<script>

export const Icons = {
    arrow: 'arrow-right.svg',
    caret: 'caret-down.svg',
    locker: 'locker.svg',

    answerActive: 'answer-active.svg',
    answerInactive: 'answer-inactive.svg',
    askActive: 'ask-active.svg',
    askInactive: 'ask-inactive.svg',
}

export const IconsEnum = Object.keys(Icons).reduce((a, b) => ({...a, ...{[b]:b}}), {}); // object to array

export default {
    props: {
        name: {
            type: String,
            required: true,
        },
        color: {
            type: String,
            default: null,
        },        
        height: {
            type: String,
            default: '24px',
        },
        width: {
            type: String,
            default: '24px',
        },
        rotation: {
            type: Number,
            default: 0,
        },         
    },

    data: () => ({
       icon: null
    }),

    computed: {
        iconColor() {
            if(!this.color) {
                return
            }
        }
    },

    async created() {
        try {
        await import(`../assets/icons/${Icons[this.name]}`).then(v => this.icon = v.default);
        } catch {
            console.warn(`Invalid icon name: ${this.name}`);
        }
    }

};
</script>

<style lang="scss">
.q__icon {
    width: var(--icon-width);
    height: var(--icon-height);
    display: inline-block;
    background-image: var(--icon-path);
    transform: rotate(var(--icon-rotate));
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 300ms;    

    &--colorized {
        background-color: var(--icon-color);

        mask-image: var(--icon-path);
        mask-size: contain;
        mask-repeat: no-repeat;    

        -webkit-mask-image: var(--icon-path);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
    }
}
</style>