<template>
    <section class="task__list">
        <div class="task__header">
            <div>Tasks ({{ filteredTasks.length }})</div>
            <div>
                <span>Showing</span>
                <DropdownMenu
                    @changed="onMenuChange"
                    :items="dropdownItems"
                    :filterCounters="countStateRecords"
                />
            </div>
        </div>

        <Card
            v-for="(task, idx) in filteredTasks"
            :key="`${idx + task.id}`"
            :state="task.state"
            :icon="mapIconToState(task.state)"
            :bodyText="task.questionContent || task.answerContent"
            :index="idx"
        >
            <template v-if="task.state === taskStatusEnum.LOCKED" v-slot:footer>
                <span class="card__footer--state">{{ generateStatusText(task.state, task.unlockedAt || task.answerSentAt || task.questionSentAt) }}</span>
                <Icon :name="icons.locker" color="var(--color-light)" />
            </template>

            <template v-else v-slot:footer>
                <span v-if="[taskStatusEnum.ASKED, taskStatusEnum.ANSWERED].includes(task.state)" class="card__footer--state">{{ generateStatusText(task.state, task.unlockedAt || task.answerSentAt || task.questionSentAt) }}</span>
                <Icon :name="icons.arrow" color="var(--color-dark)" width="32px" height="18px" />
            </template>            
        </Card>
    </section>
</template>

<script>
import { DateTime } from 'luxon';
import Card from '@/components/Card.vue';
import DropdownMenu from '@/components/DropdownMenu.vue';
import Icon, {IconsEnum} from '@/components/Icon.vue';

const TaskStatusEnum = {
    LOCKED: 'LOCKED',
    ASK: 'ASK',
    ANSWER: 'ANSWER',
    ASKED: 'ASKED',
    ANSWERED: 'ANSWERED',
};

export default {
    components: { Card, DropdownMenu, Icon },

    props: {
        tasks: {
            type: Array,
            required: true,
        }
    },

    data: () => ({
        activeFilter: null,

        filters: {
            All: 'All',
            Locked: 'LOCKED',
            Pending: 'ANSWER',
            Complete: 'ANSWERED',
        }
    }),

    computed: {

        sortedTasks() {
            return this.tasks.sort((a, b) => 
                Object.keys(TaskStatusEnum).indexOf(a.state) - Object.keys(TaskStatusEnum).indexOf(b.state));
        },
        filteredTasks() {
            if (!this.activeFilter) return this.sortedTasks;
            return this.sortedTasks.filter((task) => task.state === this.activeFilter);
        },
        countStateRecords() {
            return this.tasks.reduce((res, curr) => ({
                ...res,
                ...{
                    [curr.state]: 1 + (res[curr.state] ?? 0),
                    All: (res.All ?? 0) + 1,
                },
            }), {});
        },

        dropdownItems() {
            return Object.keys(this.filters).map(filter => ({
                    label: filter,
                    value: this.countStateRecords[this.filters[filter]]
                })
            )
        },

    },

    methods: {
        onMenuChange(item) {
            console.log(item)
            this.activeFilter =(item === 'All') ? null : this.filters[item];
        },

        relativeDateTime(dateTime) {
            if (!dateTime) return '';
            const start = DateTime.local().setLocale('en');
            const end = DateTime.fromSQL(dateTime);
            const diff = start.diff(end);

            return start.minus(diff).toRelativeCalendar();
        },
        formatDate(dateTime) {
            if (!dateTime) return '';
            const date = DateTime.fromSQL(dateTime);

            return date.setLocale('en').toFormat('LLL d, h:ma');
        },
        generateStatusText(state, value) {
            if (!value) return '';
            if (state === TaskStatusEnum.LOCKED) {
                return `Unlocked ${this.relativeDateTime(value)}`;
            } if ([TaskStatusEnum.ASKED, TaskStatusEnum.ANSWERED].includes(state)) {
                return this.formatDate(value);
            }

            return '';
        },

        mapIconToState(state) {
            const icons = {
                LOCKED: IconsEnum.askInactive,
                ASK: IconsEnum.askActive,
                ANSWER: IconsEnum.answerActive,
                ASKED: IconsEnum.askInactive,
                ANSWERED: IconsEnum.answerInactive,
            };
            return icons[state];
        }
    },

    created() {
        this.icons = IconsEnum;
        this.taskStatusEnum = TaskStatusEnum;
    }

};
</script>

<style lang="scss" scoped>
.task {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.875rem;

        @media (max-width: 990px) {
            display: flex;
            flex-direction: column;
        }
    }

    &__header {
        grid-column: 1 / span 3;
        display: grid;
        grid-template-columns: 1fr auto;
    }
}
</style>