<template>
    <main class="app--main">
        <Header />
        <Dashboard :tasks="tasks" />
        <Footer :pendingTasks="pendingTasks" />
    </main>
</template>

<script>
import Header from '@/components/Header.vue';
import Dashboard from '@/components/Dashboard.vue';
import Footer from '@/components/Footer.vue';

export default {
    components: { Header, Dashboard, Footer },

    data: () => ({
        tasks: []
    }),

    computed: {
        pendingTasks() {
            return this.tasks?.filter((t) => t.state === 'ANSWER').length;
        }
    },

    methods: {
        async fetchTasks() {
            return await fetch('tasks.json', {
                headers: {
                    'Content-Type': 'application/json',
                    Accept: 'application/json',
                },
            })
            .then((response) => response.json())
        },
    },

    async created(){
        this.tasks = await this.fetchTasks();
    }
};
</script>

<style lang="scss">
@import './main.scss';

.app--main {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1.5rem;
    box-sizing: border-box;
}
</style>