:root {
    --color-primary: #F4BF6C;
    --color-light: #F2EEE1;
    --color-dark: #3D4641;
    --color-shadow: #e5e5e5b0;
    --color-gray-light: #eee;
    --color-inactive: #f6f6f3;
    --color-inactive-text: #CCCECC;
    --color-white: #fff;
    --color-text-dark: #4A4A4A;

    /* typos prevention */
    --color-grey-light: var(--color-gray-light0);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

.fade-in-out-enter {
    opacity: 0;
    transform: scale(0.9);
    transform: translateY(-10px);
  }
  .fade-in-out-enter-active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 300ms, transform 300ms;
  }
  .fade-in-out-exit {
    opacity: 1;
  }
  .fade-in-out-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 300ms, transform 300ms;
  }
  